
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="~/home/index"><img src="~/Images/careeria_logo.gif" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="~/home/index"><i class="fa fa-home" style="font-size:24px" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Tutkinnot/index">Tutkinnot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Opettajat/index">Opettajat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Vastuuopettajat/index">Vastuuopettajat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Opintojaksot/index">Opintojaksot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Lukukaudet/index">Lukukaudet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Tutkinnonosat/index">Tutkinnon osat</a>
            </li>
        </ul>
    </div>
    <div class="navbar-nav mr-auto">
       <a href="~/login/LogOut" class="nav-item nav-link active">Kirjaudu Ulos</a>
    </div>
</nav>
