@{
    ViewBag.Title = "Home Page";
}



<div class="container text-center title2" style="margin-top:12%">
    <div class="row">
        <div class="col-md-12 ">
            <h1 class="title2-text"> CAREERIAN KURSSIEN HALLINTA </h1>
            <h3></h3>
        </div>
    </div>
</div>

<div class="container-fluid text-center image-cards">
    <div class="row">
        <div class="col-md col-sm-6 image-cards-content">
            <img class="card-img-top" src="~/Images/tutkinto2.png" alt="Card image cap">
            <a href="~/Tutkinnot/Index" class="btn btn-sm card-buttons">Tutkinnot <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="col-md col-sm-6 image-cards-content">
            <img class="card-img-top" src="~/Images/Opettajat3.png" alt="Card image cap">
            <a href="~/Opettajat/Index" class="btn btn-sm card-buttons">Opettajat <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="col-md col-sm-6 image-cards-content">
            <img class="card-img-top" src="~/Images/opintojaksot3.png" alt="Card image cap">
            <a href="~/Opintojaksot/Index" class="btn btn-sm card-buttons">Opintojaksot <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="col-md col-sm-6 image-cards-content">
            <img class="card-img-top" src="~/Images/lukukausi.png" alt="Card image cap">
            <a href="~/Lukukaudet/Index" class="btn btn-sm card-buttons">Lukukausi <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="col-md col-sm-12 image-cards-content">
            <img class="card-img-top" src="~/Images/tutkinnonosa2.png" alt="Card image cap">
            <a href="~/Tutkinnonosat/Index" class="btn btn-sm card-buttons">Tutkinnon osat <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>


<section class="button-links mt-4 text-center">
    <a href="~/Tutkintoalueet/Index" class="btn btn-link" style="color:#ddbd70;font-size:14px;font-weight:500;text-decoration:none"><strong>Tutkintoalueet</strong> <i class="fas fa-arrow-right"></i></a> &nbsp;&nbsp;&nbsp;
    <a href="~/Tutkintokurssit/Index" class="btn btn-link" style="color:#ddbd70;font-size:14px;font-weight:500;text-decoration:none"><strong>Tutkintokurssit</strong> <i class="fas fa-arrow-right"></i></a> &nbsp;&nbsp;&nbsp;
    <a href="~/Opintomateriaalit/Index" class="btn btn-link" style="color:#ddbd70;font-size:14px;font-weight:500;text-decoration:none"><strong>Opintomateriaalit</strong> <i class="fas fa-arrow-right"></i></a>&nbsp;&nbsp;&nbsp;
    <a href="~/Teknisetmateriaalit/Index" class="btn btn-link" style="color:#ddbd70;font-size:14px;font-weight:500;text-decoration:none"><strong>Teknisetmateriaalit</strong> <i class="fas fa-arrow-right"></i></a>
    <a href="~/Kurssimateriaalit/Index" class="btn btn-link" style="color:#ddbd70;font-size:14px;font-weight:500;text-decoration:none"><strong>Kurssimateriaalit</strong> <i class="fas fa-arrow-right"></i></a>&nbsp;&nbsp;&nbsp;
</section>









